body {
  background-color: #d52e3f;
  font-family: "Raleway", sans-serif;
  color: #445361;
  text-align: center;
}

/* Game Button Stylings */

.btn-game {
  height: 100px;
  width: 100px;
  margin: 5px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border: none;
  opacity: 1;
  background-color: #d52e3f;
  transition: all 0.2s ease-in-out;
}

.btn-game:hover {
    clip-path: polygon(20% 0%, 85% 25%, 100% 100%, 0 90%);
    rotate: 15deg;
    transform: scale(1.1);
}

.opacity-rock {
  height: 100%;
  width: 100%;
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.opacity-rock:hover {
  transition: .5s ease-in-out;
  transform: scale(1.1);
}

.opacity-paper {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/pixelpaper.png");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.opacity-paper:hover {
  transition: .5s ease-in-out;
  transform: scale(1.1);
}

.opacity-scissors {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/pixelscissors.png");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.opacity-scissors:hover {
  transition: .5s ease-in-out;
  transform: scale(1.1);
}

.opacity-lizard {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/pixellizard.png");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.opacity-lizard:hover {
  transition: .5s ease-in-out;
  transform: scale(1.1);
}

.opacity-spock {
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/pixelspock.png");
  background-size: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.opacity-spock:hover {
  transition: .5s ease-in-out;
  transform: scale(1.1);
}

.game-area {
  background-color: #E6ECF0;
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  max-height: 650px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding: 2%;
}
/* This code is for transition from intro page */
.transition-fade {
  transition: .4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-100px);
}

.btn {
  width: 220px;
  height: 60px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: white;
}

.btn-lg {
  padding-top: 10px;
  border-radius: 50%;
  background-color: green;
  border: 10px solid;
  width: 100px;
  height: 100px;
  font-size: 3.2rem;
  margin: 0 30px;
  transition: all 0.5s;
}

.btn--blue {
  border-color: blue;
  color: blue;
}

/*PROGRESS BAR*/

.progress-bar-container {
  width: 100%;
  margin-top: 20px;
}

.progress-bar {
  height: 20px;
  background-color: #f1f1f1;
  position: relative;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

#lvl-btns {
  justify-content: center;
  text-decoration: none;
}

.btn-success {
  color: #f1f1f1;
  border: 5px solid #E6ECF0;
  text-decoration: none;
}

.btn-warning {
  color: #f1f1f1;
  border: 5px solid #E6ECF0;
  text-decoration: none;
}

.btn-danger {
  color: #f1f1f1;
  border: 5px solid #E6ECF0;
  text-decoration: none;
}

.btn-success:hover {
  transform: scale(1.2);
  transition: .3s ease-in-out;
}

.btn-warning:hover {
  transform: scale(1.2);
  border: 5px solid #ffa500;
  transition: .3s ease-in-out;
}

.btn-danger:hover {
  transform: scale(1.2);
  transition: .3s ease-in-out;
}

.normallink {
  color: #E6ECF0;
  font-family: 'Bahnschrift';
  font-weight: bold;
}

.lightninglink {
  color:#E6ECF0;
  font-family: 'Bahnschrift';
  font-weight: bold;
}

.difficultlink {
  color: #E6ECF0;
  font-family: 'Bahnschrift';
  font-weight: bold;
}

.normallink:hover {
  transform:scale(1.5);
  transition: .25s ease-in-out;
}

.lightninglink:hover {
  transform:scale(1.5);
  transition: .25s ease-in-out;
}

.difficultlink:hover {
  transform:scale(1.5);
  transition: .25s ease-in-out;
}